*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
  }

.flex-container {
    display: flex;
    
    height: 100vh;
}

.left{
    
    width: 20vw;
    display: flex;
    flex-direction: column;
    
}

.left-card{
    height: 10vh;
    border-top: #E0E0E0 solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.card-detail{
    display: flex;
    flex-direction: column;

}


.card-text h1{
    
    font-size: 1.2em;
    font-weight: 400;

}

.card-subtext h4{
    font-size: 0.875rem;
    font-weight: 300;
}

.fa-regular {
    padding-right: 10px;
  }

.left-card-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: #E0E0E0 solid 1px;
    height: 15vh;
}
.icons {
    color: #959797;
  font-size: 1.5em;
}

.btn{
    font-size: 1rem;
  color: #Ffff;
  border: none;
  border-radius: none;
  background-color: #A192CE;
  padding: 15px 40px;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: #E0E0E0 solid 2px; 
}

.avatar-min{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #E0E0E0 solid 2px;
}

.right{
    
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.flex-container-right{
    
    display: flex;
    flex-direction: column;
}

.flex-item-right-img{
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.flex-item-right-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item-right-text h1{
    font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.flex-item-right-text p {
    font-size: 1rem;
  font-weight: 300;
  margin: 0;
}


.hands {
    width: 50%;
} 

